/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

/* This ensures the React "root" div takes up the full screen */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* specific fix for centering issues */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}